<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
    </head>


    <body>
        <%- include('../includes/navigation.ejs') %>

            <main>
                <% if (errorMessage) { %>
                    <div class="user-message user-message--error">
                        <%= errorMessage %>
                    </div>
                    <% } %>

                        <form class="proddk-form text-center"
                            action="/<% if (editing) { %>edit-op<% } else { %>ops<% } %>" method="POST">

                            <div class="form-control text-end">
                                <h2 id="name" name="name" value="<%= product.name %>">
                                    <%= product.name %>
                                </h2>
                            </div>
                            <div class="form-control text-end">

                                <input type="hidden" name="nameID" id="nameID" value="<%= product._id %>">
                                <input type="hidden" name="name" id="name" value="<%= product.name %>">
                                <input type="hidden" name="Oldtotal" id="Oldtotal" value="<%= product.total %>">

                            </div>
                            <div class="form-control text-end">
                                <label for="total">الكمية</label>

                                <input class="<%= validationErrors.find(e => e.param === 'total') ? 'invalid' : '' %>"
                                    type="number" name="total" id="total"
                                    value="<% if (editing || hasError) { %><%= op.total %><% } %>">

                            </div>
                            <div class="form-control">



                                <!-- الكود تحتs -->



                                <% for (var i=0;i<sto.length;i++) { %>
                                    <div class="row">


                                        <label for="stock">
                                            <%= sto[i] %>
                                        </label>
                                        <input class="" name="stock" type="radio" id="stock" value="<%= sto[i] %>">
                                    </div>
                                    <% } %>
                                        <!-- <input class="" name="stock" type="radio" id="stock" value="الاقيانوس"> -->






                                        <!-- الكود فوق -->

                            </div>

                            <select name="roomId" id="">
                                <% for (let product of rooms) { %>

                                    <option id="roomId" name="roomId" value="<%= product._id %>">
                                        <%= product.roomNO %>
                                    </option>
                                    <% } %>

                            </select>







                            <!--                             
                            <div class="form-control text-end">
                                <label for="total">الكمية</label>
                                <input class="<%= validationErrors.find(e => e.param === 'total') ? 'invalid' : '' %>"
                                    type="number" name="total" id="total"
                                    value="<% if (editing || hasError) { %><%= op.total %><% } %>">
                            </div>
 
                            <input type="hidden" type="number" value="0" name="den">
                            <input type="hidden" value="noon" name="mark">
                            <input type="hidden" type="number" value="0" name="room"> -->


                            <% if (editing) { %>
                                <input type="hidden" value="<%= op._id %>" name="opId">
                                <% } %>

                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                    <button class="btn btn-primary" type="submit">
                                        <% if (editing) { %> تعديل عميل<% } else { %>أضافه عميل<% } %>
                                    </button>
                        </form>
            </main>
            <%- include('../includes/end.ejs') %>