<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <main>
                <% if (errorMessage) { %>
                    <div class="user-message user-message--error">
                        <%= errorMessage %>
                    </div>
                    <% } %>
                        <form class="proddk-form" action="/<% if (editing) { %>edit-room<% } else { %>add-room<% } %>"
                            method="POST">
                            <div class="form-control">
                                <label for="roomNO">roomNO</label>
                                <input class="<%= validationErrors.find(e => e.param === 'roomNO') ? 'invalid' : '' %>"
                                    type="text" name="roomNO" id="roomNO"
                                    value="<% if (editing || hasError) { %><%= room.roomNO %><% } %>">
                            </div>
                            <div class="form-control">
                                <label for="total">Total</label>
                                <input class="<%= validationErrors.find(e => e.param === 'total') ? 'invalid' : '' %>"
                                    type="number" name="total" id="total" step="0.01"
                                    value="<% if (editing || hasError) { %><%= room.total %><% } %>">
                            </div>
                            <div class="form-control">
                                <label for="stock">Stock</label>
                                <input class="<%= validationErrors.find(e => e.param === 'stock') ? 'invalid' : '' %>"
                                    type="text" name="stock" id="stock"
                                    value="<% if (editing || hasError) { %><%= room.stock %><% } %>">
                            </div>
                            <% if (editing) { %>
                                <input type="hidden" value="<%= room._id %>" name="roomId">
                                <% } %>

                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                    <button class="btn" type="submit">
                                        <% if (editing) { %>Update room<% } else { %>Add room<% } %>
                                    </button>
                        </form>
            </main>
            <%- include('../includes/end.ejs') %>